<% include header %>

          <link href="/bower_components/circliful/css/circliful.css" rel="stylesheet" type="text/css" />
          <script src="/bower_components/circliful/js/circliful.min.js"></script>
          <script src="/javascripts/index.js"></script>


          <h1 class="page-header">Conference Rooms...</h1>

          <div class="row placeholders" id="roomData">
            <!--
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Room</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            -->
          </div>

          <h2 class="sub-header">Usage data</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Last used</th>
                  <th>Available since (mm:ss)</th>
                </tr>
              </thead>
              <tbody id="roomUsageData">
              </tbody>
            </table>
          </div>


<script id="room-data-template" type="text/x-handlebars-template">
  {{#each rooms}}
    <div class="col-xs-6 col-sm-3 placeholder">
      <div id="pie-{{roomId}}"></div>
      <!--
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      -->
      <h4>{{roomName}}</h4>
      <span class="text-muted">{{availableTime}}</span>
    </div>
  {{/each}}    
</script>

<script id="room-usage-data-template" type="text/x-handlebars-template">
  {{#each rooms}}
    <tr>
      <td>{{roomId}}</td>
      <td>{{roomName}}</td>
      <td>{{formatDate timeLastMovementDetected}}</td>
      <td>{{availableTime}}</td>
    </tr>
  {{/each}}    
</script>




<% include footer %>
