<% include header %>

  <script src="/javascripts/test.js"></script>

  <div>
    
    <form action="/api/motionDetected" method="POST" id="motionDetectedForm">
      <div class="form-group">
        <label for="roomId">Room</label>
        <select class="form-control" id="roomId" name="roomId">
        </select>        
      </div>
      <div class="form-group">
        <label for="availabileAgo">Available from</label>
        <select class="form-control" name="availabileAgo">
          <option value="0">Now</option>
          <option value="1">1 Minute ago</option>
          <option value="5">5 Minute ago</option>
          <option value="30">30 Minute ago</option>
          <option value="60">1 Hour ago</option>
        </select>        
      </div>
      <button type="submit" class="btn btn-default">Submit Motion Detected</button>
    </form>

  </div>
  
  
  <script id="roomId-select-template" type="text/x-handlebars-template">
    {{#each rooms}}
      <option value="{{roomId}}">{{roomName}}</option>
    {{/each}}    
  </script>


<% include footer %>
